header{
  height: 70px;
}

.main-wrapper{
  overflow-y: auto;
}
.main-wrapper > .row{
  height: calc(100vh - 70px);
}


.aside{
  background-image: url(../img/sidebar-bg.png),linear-gradient(#051e34, #0e263c) ;
}
