ul, ol, li{
  list-style: none;
}

a{
  text-decoration: none;
  color: unset;
}

a:hover, link:hover{
  text-decoration: none;
  color: unset;
}

html{
  scroll-behavior: smooth;
}

img{
  width: 100%;
}